body {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: rgba(10, 148, 233, 0.2);
  color: #200be4;
  padding: 20px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-title {
  margin: 0;
}

.search-for-city {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-decoration: underline;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  padding: 8px 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 6px;
}

.city-weather {
  width: 850px;
  height: 250px;
  border: 1.7px solid rgb(42, 7, 217);
  padding: 10px;
  margin-bottom: 45px;
  margin-top: 45px;
}

.weather-block-container {
  display: flex;
}

.weather-blocks {
  width: 200px;
  height: 400px;
  margin-right: 10px;
  border: 1.5px solid rgb(42, 7, 217);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  margin: 20px;
  color: white;
  background-color: #110580;
}

.weather-block-style {
  font-size: 17px;
  padding: 5px;
}

.example-heading {
  font-size: 30px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.city-btns-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.city-btns {
  margin: 10px;
  width: 150px;
  height: 50px;
  border: 1.2px solid rgb(42, 7, 217);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  background-color: #cac6ed;
  font-size: 18px;
  font-weight: bold;
}

.city-btns:hover {
  background-color: rgba(10, 148, 233, 0.2);
  cursor: pointer;
}

.icon-img {
  margin-top: -5px;
  margin-left: 10px;
  width: 80px;
}

.city-heading {
  margin-top: -20px;
}
